[submodule "css-exercises"]
	path = css-exercises
	url = https://github.com/CabruhPro/css-exercises.git
[submodule "landing-page"]
	path = landing-page
	url = https://github.com/CabruhPro/tOp-landingpage.git
[submodule "javascript-exercises"]
	path = javascript-exercises
	url = https://github.com/CabruhPro/javascript-exercises.git
[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = https://github.com/CabruhPro/etch-a-sketch.git
[submodule "rockpaperscissors"]
	path = rockpaperscissors
	url = https://github.com/CabruhPro/rockpaperscissors.git
[submodule "calculator"]
	path = calculator
	url = https://github.com/CabruhPro/calculator.git
